body {
  margin: 0;
  overflow: hidden;
  background: #222;
  height: 100vh;
  position: relative;
}

#toggleBtn {
  position: fixed;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 15px 30px;
  font-size: 2.25rem;
  background-color: #9c9c9c;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#toggleBtn:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}

#toggleBtn.active {
  background-color: #c71b1b;
}

#toggleBtn.active:hover {
  background-color: #a11616;
}

canvas {
  position: absolute;
  bottom: 44px;
  background: #22222249;
  z-index: 1;
}

.rodape {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  color: #8a8a8a;
  font-size: 0.9rem;
  z-index: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
